@import '../../sass/index.scss';

.list_categories {
	display: flex;
	width: 100%;
	overflow: scroll;
	li {
		padding: 0 8px;
	}
	&.fixed {
		background-color: #fff;
		border-radius: 0 0 60px 60px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		left: 0;
		margin: 0 auto;
		max-width: 400px;
		padding: 20px 5px 5px 5px;
		position: fixed;
		right: 0;
		top: -35px;
		z-index: 1;
		transform: scale(0.5);
		animation: 0.3s caidaTop ease;
	}
}

@include caida;
