@import '../../sass/index.scss';

.contenedor_card {
	margin-bottom: 20px;
	.card {
		border-radius: 10px;
		display: block;
		height: 0;
		overflow: hidden;
		padding: 56.25% 0 0 0;
		position: relative;
		width: 100%;
		animation: 1s fadeInKeyFrame ease;
		background-color: red;
		img {
			box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	button {
		display: flex;
		align-items: center;
		padding: 8px;
		width: auto;
		svg {
			height: 30px;
			width: auto;
			margin: 0 10px 0 0;
		}
	}
}

@include fadeIn;
